.library__book {
  background-color: #cccccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2px;
  max-width: 200px;
  padding: 10px;
  width: 100%;
}
